{% extends "templates/main.html" %}

{% block content %}
    <header class="page-header"><h1>{{ site.title }}</h1></header>
    
    <p>{{ site.description }}</p>

    <h5>Archived entries</h5>
    <table style="width:100%">
        {% for post in posts %}
            {% if post.archived is defined and post.archived == true %}
            <tr>
                <td nowrap class="article-table-date">{{ post.date.strftime("%b %-d, %Y") }}</td>
                <td class="article-table-content"><a href="{{ site.baseurl }}/posts/{{ post.post.installed_filename }}.html">{{ post.title }}</a></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
